[submodule "contracts/jetton_dao"]
	path = contracts/jetton_dao
	url = https://github.com/Shahid-Nawaz-Pahore/jetton_dao
	branch = reinitable_voting_results
[submodule "contracts/awaited_minter"]
	path = contracts/awaited_minter
	url = https://github.com/Shahid-Nawaz-Pahore/modern_jetton
	branch = share-distributor
